<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue + TS</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
      <ul>
        <li v-for="item in lista">{{item}}</li>
        <li v-for="({nome, populacao}, key, index) in estados">
          {{index}}: {{nome}} tem {{populacao}} - {{key}}
        </li>
      </ul>
      <button @click="removerItem">Remover</button>
      <button @click="mudarItem">Mudar</button>
      <div v-for="fruta in frutas" :key="fruta.id">
        <p>{{fruta.nome}}</p>
        <p>{{fruta.cor}}</p>
      </div>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          lista: ["banana", "uva", "maça", "laranja"],
          estados: {
            sp: {
              populacao: "45 milhões",
              nome: "São Paulo",
            },
            mg: {
              populacao: "21 milhões",
              nome: "Minas Gerais",
            },
            rj: {
              populacao: "17 milhões",
              nome: "Rio de Janeiro",
            },
          },
          frutas: [
            {
              id: "banana-1",
              nome: "Banana",
              cor: "Amarela",
            },
            {
              id: "melancia-1",
              nome: "Melancia",
              cor: "Verde",
            },
          ],
        },
        methods: {
          removerItem() {
            this.lista.pop(); // Ativa reatividade
          },
          mudarItem() {
            this.lista[0] = "Banana"; // Não ativa reatividade
            this.$set(this.lista, 0, "Banana"); // Ativa reatividade
          },
        },
      });
    </script>
  </body>
</html>
